/* --- CONTAINER GERAL --- */
.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #dbeafe;
  overflow: hidden;
}

/* --- SIDEBAR --- */
.sidebar {
  width: 110px;
  background-color: #5c89c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.12);
  gap: 40px;
}

/* LOGO */
.sidebar-logo-img {
  width: 65px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.sidebar-logo-img:hover {
  transform: scale(1.05);
}

/* NAV */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  align-items: center;
}

/* BOTÕES */
.nav-item {
  background: none;
  border: none;
  width: 85px;
  padding: 12px 5px;
  border-radius: 16px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  color: #0d1b2a;
  font-size: 0.75rem;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s ease;
  opacity: 0.8;
}

/* HOVER */
.nav-item:hover {
  background: rgba(255,255,255,0.25);
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  transform: translateX(3px);
  opacity: 1;
}

/* ITEM ATIVO */
.nav-item.active {
  background: rgba(255,255,255,0.38);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  opacity: 1;
}

/* ÍCONES */
.material-symbols-outlined {
  font-size: 28px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Quando o botão estiver ativo */
.nav-item.active .material-symbols-outlined {
  color: #000; 
}

